body {
  font: 15px/1.5 monospace;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  position: relative;
}

/* Global */
.container {
  margin: auto;
  width: auto;
  position: relative;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  background: #FF6978;
  color: #0A0903;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #FFC100 3px solid;
}

.header a {
  color: #0A0903;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

.header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

.header #branding {
  float: left;
  margin-left: 15px;
}

.header #branding h1 {
  margin: 0;
}

.header nav {
  float: right;
  margin-top: 10px;
}

.header .current a {
  color: #FFC100;
  font-weight: bold;
}

.header a:hover {
  color: #cccccc;
  font-weight: bold;
}

/* Banner */

.banner {
  background-color: #59C9A5;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

/* Boxes */

.boxes {
  margin-top: 20px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* fraction*/
}

.boxes .box img {
  width: 250px;
}

.box {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  background-color: #E9E3E6;
}

/* Footer */

.footer {
  padding: 20px;
  color: #ffffff;
  background-color: #FF6978;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
